.add-event-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.month-chooser {
    font-size: 1em;
    font-weight: bold;
}

.events-on-day {
    margin-top: 150px;
}