table.calendar {
    width: 500px;
    table-layout: fixed;
}

table.calendar th {
    padding: 10px 5px;
    text-align: right;
    border: none;
}

table.calendar td {
    text-align: right;
    border: none;
}

td.day a {
    padding: 10px 5px;
    display: block;
    color: black;
    text-decoration: none;
}

td.day a:hover {
    background-color: #ddd;
}

td.current-month {
}

td.not-current-month a {
    color: #bbb;
}

td.today {
    background-color: #b3e6ff;
}
